@import "../../app.scss";


.portfolio{
    position: relative;

    .progress{
        position: sticky;
        top: 0;
        left: 0;
        padding-top: 50px;
        text-align: center;
        color: orange;
        font-size: 36px;
        
        @include mobile{
            
            padding-top: calc(100vh - 100px);
            font-size: 24px;
      

         }

        .progressBar{
        height: 10px;
        background-color: #fff;

        }
    }

    .container{
        margin-top: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        overflow: hidden;
       

        .wrapper{

            max-width: 1366px;
            height: 100%;
            
            margin: auto;
            display: flex;
            gap: 50px;
            align-items: center;
            justify-content: center;

            @include mobile {
                flex-direction: column;
              }
        .imageContainer{
          margin-top: 20px;
            flex:1;
            height: 50%;
            padding-right: 100px;
            @include mobile {
                width: 100%;
                max-height: 300px;
              }
            img{
              
            width: 100%;
            height: 100%;   
            object-fit: contain;
            @include mobile {
                object-fit: contain;
              }
    
            }
        }

           

        .textContainer{
            margin-bottom: 500px;
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;
            @include mobile {
                transform: none !important;
                padding: 180px;
                align-items: center;
                text-align: center;
              }

            h2{
                font-size: 60px;
                @include mobile {
                    font-size: 36px;
                  }
            }

            p{
                color: gray;
                font-size: 20px;
                @include mobile {
                    font-size: 16px;
                  }
            }
            button{
                background-color: orange;
                border: none;
                border-radius: 10px;
                padding: 10px;
                width: 200px;
                cursor: pointer;
            }

        }
        }

       
    }
}